/*FONTS*/
@font-face {
  font-family: "Segoe UI Regular";
  font-style: normal;
  font-weight: normal;
  src: url("./fonts/segoe-ui/Segoe UI.woff") format("woff");
}
/*GENERAL*/
html {
  scrollbar-width: none;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  scroll-behavior: smooth;
}
html::-webkit-scrollbar {
  width: 0 !important;
}
body {
  margin: 0;
  background: black;
}
.title {
  letter-spacing: -0.07em;
}
.text {
  margin-left: 10vw;
  margin-right: 10vw;
}
.titleMobile {
  top: 50vh;
  font-size: 4vw;
}
.textMobile {
  top: 50vh;
  font-size: 4vw;
}
.titleDesktop {
  top: 60vh;
  font-size: 1.5vw;
}
.textDesktop {
  top: 62vh;
  font-size: 1.5vw;
}
/*HEADER*/
.header {
  height: 15vh;
  background: black;
  position: fixed;
  width: 100%;
  text-align: center;
  top: 0;
  z-index: 999;
}
.logo-header {
  width: 25vh;
  margin-top: 3vh;
}
/*SECTION 1*/
.section1 {
  margin-top: 15vh;
  height: 85vh;
  text-align: center;
}
.section1Mobile {
  background: url("./assets/images/mobile.jpg") no-repeat;
  background-size: cover;
  background-position-x: center;
}
.section1Desktop {
  background: #957a69;
  background-size: cover;
  background-position-x: center;
}
.titleSection1 {
  color: #957a69;
  background: black;
  position: relative;
}
.titleSection1 > h3 {
  padding: 10px;
}
.textSection1 {
  color: #c2b5ac;
  position: relative;
}
/*SECTION 2*/
.section2 {
  background: white;
  padding-bottom: 3vh;
}
.titleSection2 {
  margin-left: 10vw;
  margin-right: 10vw;
  padding-top: 2vh;
}
.textSection2 {
  font-family: "Segoe UI Regular";
  letter-spacing: -0.05em;
}
/*SECTION 3*/
.section3 {
  background: black;
  color: #fdfdfd;
  padding-bottom: 3vh;
}
.titleSection3 {
  margin-left: 10vw;
  margin-right: 10vw;
  padding-top: 2vh;
}
.textSection3 {
  font-family: "Segoe UI Regular";
  letter-spacing: -0.05em;
}
/*SECTION 4*/
.section4 {
  background: white;
  padding-bottom: 2vh;
}
.shoes {
  text-align: center;
  padding-top: 1vh;
}
.shoe {
  width: 30%;
}
.divider {
  margin-left: 12vw;
  margin-right: 12vw;
  background: black;
  height: 2px;
}
.textSection4 {
  margin-top: 3vh;
  font-family: "Segoe UI Regular";
  letter-spacing: -0.05em;
  font-weight: bold;
}
.secondaryText {
  font-family: "Segoe UI Regular";
  letter-spacing: -0.05em;
  font-weight: lighter;
  font-size: 3vw;
}
/*FOOTER*/
.footer {
  height: 15vh;
  background: black;
  text-align: center;
}
.logo-footer {
  width: 30vh;
  margin-top: 4vh;
}
