/*FONTS*/
@font-face {
  font-family: "Segoe UI Regular";
  font-style: normal;
  font-weight: normal;
  src: url("./fonts/segoe-ui/Segoe UI.woff") format("woff");
}
/*GENERAL*/
html {
  scrollbar-width: none;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  scroll-behavior: smooth;
}
html::-webkit-scrollbar {
  width: 0 !important;
}
body {
  margin: 0;
  background: black;
}
.loader {
  background: whitesmoke;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1001;
}
.loader--hide {
  opacity: 0;
  z-index: -1;
}
.loaderIcon {
  text-align: center;
  position: relative;
  top: 40%;
  animation-name: flash;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.loaderIcon > img {
  width: 15vh;
}
@keyframes flash {
  from,
  50%,
  to {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}
.title {
  letter-spacing: -0.07em;
}
.text {
  margin-left: 10vw;
  margin-right: 10vw;
}
.titleMobile {
  top: 105vw;
  font-size: 4vw;
}
.textMobile {
  top: 115vw;
  font-size: 4vw;
}
.titleDesktop {
  top: 32vw;
  font-size: 1.5vw;
}
.textDesktop {
  top: 32.5vw;
  font-size: 1.5vw;
}
/*HEADER*/
.headerContainer {
  background: black;
  width: 100%;
  text-align: center;
  top: 0;
  z-index: 999;
}
.headerMobile {
  height: 30vw;
}
.logo-header-mobile {
  width: 50vw;
  margin-top: 8vw;
}
.headerDesktop {
  height: 8vw;
}
.logo-header-desktop {
  width: 13vw;
  margin-top: 2.3vw;
}
/*SECTION 1*/
.section1 {
  text-align: center;
}
.section1Mobile {
  margin-top: 30vw;
  height: 180vw;
  background: url("./assets/images/mobile.jpg") no-repeat;
  background-size: cover;
  background-position-x: center;
}
.section1Desktop {
  margin-top: 8vw;
  height: 45vw;
  background: url("./assets/images/desktop.jpg");
  background-size: cover;
  background-position-x: center;
}
.titleSection1 {
  color: #957a69;
  background: black;
  position: relative;
}
.titleSection1 > h3 {
  padding: 10px;
}
.textSection1 {
  position: relative;
}
.textSection1Mobile {
  color: #c3b0ac;
}
.textSection1Desktop {
  color: black;
}
/*SECTION 2*/
.section2 {
  background: white;
  padding-bottom: 3vh;
}
.titleSection2 {
  margin-left: 10vw;
  margin-right: 10vw;
  padding-top: 2vh;
}
.textSection2 {
  font-family: "Segoe UI Regular";
  letter-spacing: -0.05em;
}
/*SECTION 3*/
.section3 {
  background: black;
  color: #fdfdfd;
  padding-bottom: 3vh;
}
.titleSection3 {
  margin-left: 10vw;
  margin-right: 10vw;
  padding-top: 2vh;
}
.textSection3 {
  font-family: "Segoe UI Regular";
  letter-spacing: -0.05em;
}
/*SECTION 4*/
.section4 {
  background: white;
  padding-bottom: 2vh;
}
.shoes {
  text-align: center;
  padding-top: 1vh;
}
.shoeMobile {
  width: 30%;
}
.shoeDesktop {
  width: 15%;
  margin-left: 5vw;
  margin-right: 5vw;
}
.divider {
  background: black;
  height: 2px;
  margin-left: 12vw;
  margin-right: 12vw;
}
.textSection4 {
  margin-top: 3vh;
  font-family: "Segoe UI Regular";
  letter-spacing: -0.05em;
  font-weight: bold;
}
.secondaryText {
  font-family: "Segoe UI Regular";
  letter-spacing: -0.05em;
  font-weight: lighter;
}
.secondaryTextMobile {
  font-size: 3vw;
}
/*FOOTER*/
.footer {
  background: black;
  text-align: center;
}
.footerMobile {
  height: 30vw;
}
.logo-footer-mobile {
  width: 60vw;
  margin-top: 8vw;
}
.footerDesktop {
  height: 7vw;
}
.logo-footer-desktop {
  width: 15vw;
  margin-top: 2vw;
}
